.buttonbg {
    background-color: white;
    color: blarck;

}

.languagecheck {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 5px;
}

.front {
    font-size: 0px;
    font-weight: 500;
}